a{
	font-family:'Arial';
	color:#666666; 
	text-decoration:none;
	cursor:hand;
	font-size:14px;
}
.option{
	width:200px;
	padding: 3px 0 3px 3px;
}
a:hover{
	color:#883355; 
}
.section{
	width:200px;
}
h1{
	font-family:'Arial';
	color:#333333; 
	font-size:16px;
	font-weight:bold;
}
body {
    background-color: #FFEEEE;
}